mixin performance-tracking-promo
    li.list-group-item.border-0
        .card.my-account-promo-card
            .card-body
                .row.justify-content-between.align-items-sm-top.flex-wrap.mx-auto
                    .col-6.col-sm-2.col-xl-1.mb-3.text-center
                        .promotion__icon.bg-warning
                            span.fas.fa-rocket
                    .col-12.col-sm-10.col-xl-4.mb-3
                        span.promo-info.d-block
                            small.mb-0.promo-info__title Promotion Name
                        span.d-block
                          .mb-0.promo-info__title ${promo.promotion_name}
                        
                            
                    .col-12.col-sm-3.col-xl-1.mb-3
                        span
                            small.mb-0.promo-info__title Approved
                            .promos__approved ${promo.approved}
                    .col-12.col-sm-3.col-xl-1.mb-3
                        span
                            small.mb-0.promo-info__title Pending
                            .promos__pending ${promo.pending}
                    .col-12.col-sm-3.col-xl-2.mb-3
                        span
                            small.mb-0.promo-info__title Need Verification
                            .promos__needVerification ${promo.need_verification}
                    .col-12.col-sm-3.col-xl-2.mb-3
                        span
                            small.mb-0.promo-info__title Awarded
                            .promos__awarded ${promo.awarded}
                    .col-12.col-sm-3.col-xl-1.text-right
                        span
                            small.mb-0.promo-info__title 
                            .promos__awarded 
                                a.promo__more-details-link(href="#") Details
                    .col-12.bg-light.promo__more-details.py-3               
                        include ../performance-tracking/promo-more-detail.pug


-for (i=0; i<3; i++)
    +performance-tracking-promo

